@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #202520;
    --secondary-color: #98ff98;
    --hover-color: #b8ffb8;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(450deg, #202520, #404540);
    color: #eee;
    font-family: 'Poppins', sans-serif;
}

b,
strong {
    font-weight: 600;
}

.background {
    background: linear-gradient(450deg, #202520, #404540);
}

.shadow-bottom {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.close-shadow {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000070;
    overflow: hidden;
    z-index: 9999;
}

.box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.conditional-rounded {
    border-radius: 100px 10px 10px 100px;
}

.navigate-conditional-rounded {
    border-radius: 0 25px 25px 0;
    margin: 0;
}

.navigate-blur {
    background: rgba(32, 37, 32, 0.9);
}

.add-note-blur {
    background: rgba(32, 37, 32, 0.7);
}

.navigate-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
}

.navigate-element.active {
    width: 100%;
    padding-left: 10px;
    margin: 0;
    border-radius: 0 25px 25px 0;
}

.navigate-element.selected {
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.navigate-element:hover:not(.selected) {
    background: linear-gradient(to right, #98ff98, 0.1%, transparent);
}

.navigate-element span {
    min-width: 25px;
    min-height: 20px;
    border-radius: 2px;
    margin-inline: 11px;
}

.navigate-element p {
    font-size: 14px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searcher-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    padding-inline: 20px;
    margin: 20px auto 8px auto;
}

.searcher {
    position: relative;
    display: flex;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.searcher svg {
    position: absolute;
    color: #404540;
    top: 30%;
    right: 12px;
}

.searcher input {
    width: 100%;
    color: var(--primary-color);
    outline: none;
    border-radius: 4px;
    padding: 10px 15px;
}

.border-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: hsla(211, 18%, 68%, 0.16);
}

.border-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: hsla(211, 18%, 68%, 0.16);
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: hsla(211, 18%, 68%, 0.16);
}

#editor {
    width: 100%;
    height: 320px;
    padding: 10px 20px;
    color: var(--primary-color);
    outline: none;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
}

.editor-placeholder {
    position: absolute;
    width: 100%;
    color: #a9a9a9;
    padding: 10px 20px;
    pointer-events: none;
}

#styles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    overflow: hidden;
}

#styles .styles-button {
    border-radius: 4px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}


#styles .styles-button:hover {
    background-color: rgba(95, 99, 104, 0.3);;
}

#styles .styles-button span {
    color: var(--primary-color);
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
}

.my-masonry-grid_column {
    background-clip: padding-box;
    margin: 0;
}

.slick-track {
    padding-top: 40px;
}

#option-tooltip {
    z-index: 1000;
}

#color-picker,
#add-reminder {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.react-calendar {
    border-radius: 6px;
}

.react-calendar__navigation button {
    min-width: 0 !important;
    width: 44px;
}

.react-calendar__month-view__weekdays {
    justify-content: space-around;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em 0 0.5em 0;
    flex: none !important;
}

.react-calendar__tile:hover {
    background-color: var(--secondary-color) !important;
    border-radius: 4px;
}

.react-calendar__tile--active {
    color: var(--primary-color);
    background-color: var(--secondary-color) !important;
    border-radius: 4px;
}

@keyframes inAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes translateInAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes translateOutAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes displayUi {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideUi {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes displayConfirmDelete {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideConfirmDelete {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}