@import '/src/index.css';

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.primary:hover {
    background-color: var(--hover-color);
}

.secondary {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: transparent;
}

.secondary:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.transparent {
    color: var(--primary-color);
    background-color: transparent;
}

.transparent:hover {
    background-color: var(--secondary-color);
}

.sm {
    padding: 3px 7px;
}

.md {
    padding: 4px 12px;
}

.default {
    padding: 8px 30px;
}