@import '/src/index.css';

.message {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 512px;
    background-color: var(--primary-color);
    bottom: 10px;
    left: 10px;
    padding: 20px;
    border-radius: 6px;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
}

.message-dialog {
    flex: 1 1 auto;
}

.undo-button {
    color: var(--secondary-color);
    padding: 8px 24px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.close-message {
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
}

.close-message svg {
    margin: auto;
}

.undo-button:hover, .close-message:hover {
    background-color: #404540;
}